.container {
  margin: 0 auto;
  width: 80vw;
  font-size: 12px;
  .switch {
    display: flex;
    justify-content: flex-end;
    height: 2.2em;
    margin-bottom: 3px;
    select {
      border: 1px solid rgb(227, 238, 224);
      border-radius: 5px;
    }
  }
  .table {
    background-color: rgb(161, 221, 192, 0.05);
    border: 1px solid rgb(227, 238, 224);
    border-radius: 5px;
  }
  .table_row {
    display: flex;
    .cell_index {
      flex-basis: 20%;
      border: 1px solid rgb(227, 238, 224);
      text-align: center;
    }
    .cell_type {
      flex-basis: 30%;
      border: 1px solid rgb(227, 238, 224);
    }
    .cell_type_m {
      color: red;
    }
    .cell_type_p {
      color: green;
    }

    .cell_name,
    .cell_noname,
    .cell_type_m,
    .cell_type_p {
      flex-basis: 30%;
      border: 1px solid rgb(227, 238, 224);
    }
    .cell_noname {
      color: gray;
    }
    .cell_text {
      flex-basis: 50%;
      border: 1px solid rgb(227, 238, 224);
    }
  }
}
